/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
} */
.main{
display: flex;
    flex-direction: column;
    justify-content: space-between;
  width: 100%;
  float: left;
  background-image: url(../app/assets/banner-bg.png);
  min-height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
}
